# Copyright (c) 2026 Adam Brauns (@AdamBrauns)
#
# @plugin(@varlock/bitwarden-plugin@<version>)
# @initBitwarden(accessToken=$BITWARDEN_ACCESS_TOKEN, cacheTtl="<time>")
# ---

# @type=bitwardenAccessToken @sensitive @internal
BITWARDEN_ACCESS_TOKEN=<token>
