#----------------------------------------------------------------------
# File: .bash_env_secret
# Info: Machine-specific bash environment variables
# Author: Adam Brauns (@AdamBrauns)
# shellcheck shell=bash
#----------------------------------------------------------------------

export MY_SECRET_API_KEY=your_key_here
export AWS_PROFILE=myprofile
export CUSTOM_PATH=/path/to/custom/bin
